# Build artifacts
main
MAIN
*.o
*.O
bench
cliphist/
*.txt
*.TXT

# Documents
*.pdf
*.PDF

# Images
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
*.gif
*.GIF
*.bmp
*.BMP
*.tif
*.TIF
*.tiff
*.TIFF
*.webp
*.WEBP
*.svg
*.SVG
